/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

#changingword {
  color: indianred;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.nooverflow {
    overflow: hidden;
}
.navbar {
    height:150px;
    background-color:#f7f7f7;
}
.navimage {
    max-width:350px;
}
.navimagetiny {
    margin-top:10px;
    max-height:120px;
}
.navlinks {
    height:150px;
    padding-top: 3vh;
}
.dropnav{
    background-color:#58A7AF !important;
}
.darkbluetext {
    color:#3f6c7d;
}
.darkbluebackground {
    background-color: #3f6c7d;
}
.lightgraybackground {
    background-color:#f7f7f7;
}
.navtextleslie {
    margin-bottom:-40px;
    margin-top:35px;
}
.belowphotohomepage {
    margin-top:-5px;
}
#afterables {
    display: none;
}
#taglinebottom {
    color: indianred;
}
.footerbackground {
    background-color:#f7f7f7;
}


/*Video CSS*/

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.video-foreground, .video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}

.videooverlay {
    opacity: 100;
}